@import url(main.css);
@import url(styles.css);
@import url(header.css);
@import url(columms.css);
@import url(bottom.css);
@import url(parallax.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css');


* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    background-color: #cee891;
    scroll-behavior: smooth;
    max-width: 1280px; 
}
