
section {
    margin-bottom: 32px;
}

#apresentacao .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

#apresentacao .texto {
    flex: 1;
    padding-right: 32px;
    text-align: center;
    padding-left: 32px;
}
.texto h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
}

.texto h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
}
.texto p {
    margin-bottom: 10px;
    font-size: 18px;
}
#apresentacao .imagem {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    width: calc(100% - 40px);
    background-color: transparent;     
}

#apresentacao .imagem img {
    width: 550px;
    height: 550px;
    object-fit: cover;
    margin-right: 40px;
    margin-top: 10px;
    position: static;
}

.botaoSuperior {
    border-radius: 30px;
    background-color: #bada5f;
    color: black;
    border: transparent;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 24px;
    width: 40%;
}
    
button:hover {
        background-color: #50c8c6;
}

#quemSomos {
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

#nossaMissao {
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

#nossosProdutos {
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

#sustentabilidade {
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.posicaoTexto {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 80%; 
    margin: 20px 0 20px;
}
