.parallax {
    content: "";
    width: 98%;
    height: 400px;

    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    margin-left: auto;
    margin-right: auto;
}
.img5 {
    background-image: url(images/Designer1.jpeg);
}
.img3 {
    background-image: url(images/Designer3.jpeg);
}
.img4 {
    background-image: url(images/Designer4.jpeg);
}
.img6 {
    background-image: url(images/Designer5.jpeg);
}